@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-1{
    color: coral;
}

#carouselExempleFade{
    width: 80px;
    height: auto;
}

img{
    width: 400px;

}

#meus_cards{
    width: 100%;
    height: 500px;
    display: flex;
}